<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #202020">
<div layout:fragment="content">

    <div class="mt-5 text-white ">
        <div class="row text-white" >
            <div class="col">
                <div id="current_date"></p>
                    <script type="text/javascript">
                        const d = new Date();

                        const day = ["Вс", "Пн", "Вт",
                            "Ср", "Чт", "Пт", "Сб"];

                        const month = ["янв", "февр", "мар", "апр", "мая", "июня",
                            "июля", "авг", "сент", "окт", "нояб", "дек"];

                        document.write("Сегодня " + day[d.getDay()]+" " +d.getDate()+ " " + month[d.getMonth()]
                            + " " + d.getFullYear() + " г.");
                    </script>
                </div>
                <!--                <a sec:authorize="isAuthenticated() && (hasRole('USER'))"-->
            </div>
        </div>
        <div>
            <table class="table text-white border-dark">
                <tbody>
                <tr th:each="task : ${inProgressTasks}">
                    <td>
                        <a style="font-size: 25px" th:text="${task.getTaskTitle()}"></a>
                        <br/>
                        <a style="color: gray; font-size: 15px" th:text="${task.getDescription()}"></a>
                    </td>
                    <td>
                    <td>
                        <div style="float: right">
                            <a class="btn btn-primary bg-transparent border-0 bi bi bi-check-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Выполнено"  th:href="'/tasks/toCompleted/' + ${task.id}"></a>
                            <a class="btn btn-primary bg-transparent border-0 bi bi-x-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Отменить задачу" th:href="'/tasks/toCanceled/' + ${task.id}"></a>
                            <a class="btn btn-primary bg-transparent border-0 bi bi bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить задачу" th:href="'/tasks/delete/' + ${task.id}"
                               onclick="return confirm('Вы действительно хотите удалить задачу?')"></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>