<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Запланированные</title>

</head>
<body style="background-color: #202020">
<div layout:fragment="content">
    <div class="mt-5 text-white ">
        <div class="row text-white" >
            <div class="col">
                <div id="current_date" on></p>
                    <script type="text/javascript">
                        const d = new Date();

                        const day = ["Вс", "Пн", "Вт",
                            "Ср", "Чт", "Пт", "Сб"];

                        const month = ["янв", "февр", "мар", "апр", "мая", "июня",
                            "июля", "авг", "сент", "окт", "нояб", "дек"];

                        document.write("Сегодня " + day[d.getDay()]+" " +d.getDate()+ " " + month[d.getMonth()]
                            + " " + d.getFullYear() + " г.");
                    </script>
                </div>
                <!--                <a sec:authorize="isAuthenticated() && (hasRole('USER'))"-->
            </div>
        </div>
        <div>
            <table class="table text-white border-dark" style="table-layout: fixed">
                <tbody>
                <tr th:each="task : ${planedTasks}">
                    <td>
                        <a style="font-size: 25px" th:text="${task.getTaskTitle()}"></a>

                        <a style="color: white" th:if="${task.getPriority().getPriorityTextDisplay().equals('Приоритет 4')}"><i class="bi bi-flag-fill"></i></a>
                        <a style="color: green" th:if="${task.getPriority().getPriorityTextDisplay().equals('Приоритет 3')}"><i class="bi bi-flag-fill"></i></a>
                        <a style="color: yellow" th:if="${task.getPriority().getPriorityTextDisplay().equals('Приоритет 2')}"><i class="bi bi-flag-fill"></i></a>
                        <a style="color: red" th:if="${task.getPriority().getPriorityTextDisplay().equals('Приоритет 1')}"><i class="bi bi-flag-fill"></i></a>
                        <br/>
                        <a style="color: gray; font-size: 15px"th:if="${task.getExpirationDate() != null}" th:text="${'Сделать до ' + task.getExpirationDate()}">  <br/></a>
                        <a style="color: gray; font-size: 15px" th:text="${task.getDescription()}"></a>
                    </td>
                    <td>
                        <div style="float: right">
                            <a class="btn btn-primary bg-transparent border-0 bi bi-arrow-right"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Перейти к выполнению"
                               th:href="'/tasks/toInProgress/' + ${task.id}"></a>
                            <a class="btn btn-primary bg-transparent border-0 bi bi bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить задачу" th:href="'/tasks/delete/' + ${task.id}"
                               onclick="return confirm('Вы действительно хотите удалить задачу?')"></a>
                            <a th:href="'/tasks/update/' + ${task.id}" class="btn btn-primary bg-transparent border-0   bi bi-pencil-square px-0">
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary border-0 bg-transparent" type="button" id="dropdownMenuClickable" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                Добавить задачу
            </button>
            <ul class="dropdown-menu dropdown-menu-dark text-white" aria-labelledby="dropdownMenuClickable">
                <form class="px-4 py-3 bg-transparent needs-validation" method="POST" th:action="@{/tasks/add}" th:object="${taskForm}">
                    <div class="mb-3">
                        <input type="text" name="taskTitle"  id="taskTitle" class="form-control bg-transparent text-white" placeholder="Название задачи" required >
                    </div>
                    <div class="mb-3">
                        <input name="description" type="text" class="form-control bg-transparent border-dark text-white" id="description" placeholder="Описание">
                    </div>
                    <div class="mb-3">
                        <select class="form-select bg-transparent border-dark text-white" name="projectId" id="projectId" >
                            <option class="bg-dark" selected th:value="${null}">Выберете проект</option>
                            <option class="bg-dark"
                                    th:each="project : ${projects}"
                                    th:value="${project.getId()}"
                                    th:text="${project.getProjectName()}">

                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <input name="expirationDate" min="2017-04-01" max="2025-04-20" type="date" class="form-control bg-transparent border-dark text-white" id="expirationDate" placeholder="Срок выполения">
                    </div>
                    <div class="mb-3">
                            <select class="form-select bg-transparent border-dark text-white" name="priority" id="priority" required>
                                <option th:selected="${priority.PRIORITY_4}"
                                        th:each="priority : ${T(com.dobysh.taskmanager.model.Priority).values()}"
                                        th:value="${priority}" th:text="${priority.getPriorityTextDisplay()}"></option>
                            </select>
                    </div>

                    <button type="submit" class="btn btn-danger border-0">Добавить</button>
                </form>
            </ul>
        </div>
    </div>
</div>
</body>

</html>