<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить задачу</title>
</head>
<body style="background-color: #202020">
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Обновить задачу ' + ${task.getTaskTitle()}"></h3>
  <form enctype="multipart/form-data" class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/tasks/update}" th:object="${taskForm}">
    <input type="hidden" name="id"
           th:value="${task.getId()}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="taskTitle" th:value="${task.getTaskTitle()}" type="text" class="form-control bg-dark text-white" id="title" placeholder="Название задачи" required>
          <label for="title">Название</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <div class="col-md">
            <div class="form-floating">
              <input name="description" th:value="${task.getDescription()}" type="text" class="form-control bg-dark text-white" id="description" placeholder="Описание"></input>
              <label for="description">Описание</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select bg-dark text-white" name="projectId" id="projectId" >
            <option selected th:value="${null}">Выберете проект</option>
            <option
                    th:each="project : ${projects}"
                    th:value="${project.getId()}"
                    th:text="${project.getProjectName()}">
            </option>
          </select>
          <label for="projectId">Название проекта</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
            <input name="expirationDate" th:value="${task.getExpirationDate()}" min="2017-04-01" max="2025-04-20" type="date" class="form-control bg-dark text-white" id="expirationDate" placeholder="Срок выполения">
          <label for="expirationDate">Срок выполнения</label>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select bg-dark text-white" name="priority" id="priority" required th:object="${task}" th:field="*{priority}">
            <option th:value="default">Выберете жанр из списка</option>
            <option th:selected="${task.getPriority().getPriorityTextDisplay()}"
                    th:each="priority : ${T(com.dobysh.taskmanager.model.Priority).values()}"
                    th:value="${priority}" th:text="${priority.getPriorityTextDisplay()}"></option>
          </select>
          <label for="priority">Приориет</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-secondary bg-dark text-white" onclick="validateForm()">Обновить</button>
      <button type="button" class="btn btn-secondary bg-dark text-white" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>