.gradient-custom {
    /* fallback for old browsers */
    background: #07020c;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(33, 9, 47), rgb(23, 53, 101));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(18, 9, 31), rgb(8, 36, 82))
}