<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Проект</title>
</head>
<body style="background-color: #202020">
<div layout:fragment="content">

    <div class="mt-5 text-white ">
        <div class="row text-white" >
            <div class="col">
                <div id="current_date"></p>
                    <script type="text/javascript">
                        const d = new Date();

                        const day = ["Вс", "Пн", "Вт",
                            "Ср", "Чт", "Пт", "Сб"];

                        const month = ["янв", "февр", "мар", "апр", "мая", "июня",
                            "июля", "авг", "сент", "окт", "нояб", "дек"];

                        document.write("Сегодня " + day[d.getDay()]+" " +d.getDate()+ " " + month[d.getMonth()]
                            + " " + d.getFullYear() + " г.");
                    </script>
                </div>
                <!--                <a sec:authorize="isAuthenticated() && (hasRole('USER'))"-->
            </div>
        </div>
        <a th:text="${project.getProjectName()}"></a>
        <button type="button" class="btn btn-primary bg-transparent border-0 bi bi-pencil-square px-0" data-bs-toggle="modal" data-bs-target="#editModal">
        </button>
        <div>
            <table class="table text-white border-dark" style="table-layout: fixed">
                <tbody>
                <tr th:each="task : ${projectsTask}">
                    <td>
                        <a style="font-size: 25px" th:text="${task.getTaskTitle()}"></a>
                        <br/>
                        <a th:text="${task.getStatus().getStatusTextDisplay()}"></a>
                        <br/>
                        <a style="color: gray; font-size: 15px" th:text="${'Сделать до ' + task.getExpirationDate()}"></a>
                        <br/>
                        <a style="color: gray; font-size: 15px" th:text="${task.getDescription()}"></a>
                    </td>
                    <td>
                        <div style="float: right">
                            <a class="btn btn-primary bg-transparent border-0 bi bi bi-trash" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить задачу" th:href="'/tasks/delete/' + ${task.id}"
                               onclick="return confirm('Вы действительно хотите удалить задачу?')"></a>
                            <a th:href="'/tasks/update/' + ${task.id}" class="btn btn-primary bg-transparent border-0   bi bi-pencil-square px-0">
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary border-0 bg-transparent" type="button" id="dropdownMenuClickable" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                Добавить задачу
            </button>
            <ul class="dropdown-menu dropdown-menu-dark text-white" aria-labelledby="dropdownMenuClickable">
                <form class="px-4 py-3" method="POST" th:action="@{/projects/{projectId}/add-task(projectId=${project.getId()})}" th:object="${taskForm}">
                    <div class="mb-3">
                        <input type="text" name="taskTitle"  id="taskTitle" class="form-control bg-transparent text-white" placeholder="Название задачи" required >
                    </div>
                    <div class="mb-3">
                        <input name="description" type="text" class="form-control bg-transparent border-dark text-white" id="description" placeholder="Описание">
                    </div>
                    <div class="mb-3">
                        <input name="expirationDate" min="2017-04-01" max="2025-04-20" type="date" class="form-control bg-transparent border-dark text-white" id="expirationDate" placeholder="Срок выполения">
                    </div>
                    <button type="submit" class="btn btn-danger border-0">Добавить</button>
                </form>
            </ul>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content bg-dark border-0">
                <div class="modal-header">
                    <h5 class="modal-title border-0" id="editModalLabel">Изменить название</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <input type="hidden" name="id"
                       th:value="${project.getId()}">
                <div class="modal-body bg-dark border-0">
                    <form class="px-4 py-3 needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/projects/update/{id}(id=${project.getId()})}" th:object="${projectFormEdit}">
                        <div class="mb-3">
                            <input type="text" th:value="${project.getProjectName()}" name="projectName" class="form-control bg-transparent text-white" placeholder="Введите новое название проекта" required>
                            <div class="invalid-feedback">Обязательное поле для заполнения</div>
                        </div>
                        <button type="submit" class="btn btn-danger border-0" onclick="validateForm()">Обновить</button>
                        <button type="button" class="btn btn-secondary border-0" data-bs-dismiss="modal">Отмена</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>